* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #666;
    font-family: Helvetica;
    scroll-behavior: smooth;
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

a:hover {
    opacity: 1;
    color: rgb(41, 173, 118);
}

a.btn {
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: rgb(41, 173, 118);
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

.work-area,
.contact {
    background-color: #ddd;
}

.content-area {
    width: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section h3.header-text {
    text-transform: uppercase;
    font-family: Helvetica;
    margin-bottom: 5px;
    text-align: center;
    font-size: 45px;
}

section p {
    max-width: 700px;
    line-height: 2;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width : 800px) {
    section {
        padding: 50px 20px;
    }
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s animate 0.5 forwards;
    opacity: 0;
    color: #fff;
    z-index: 10;
}

.keterangan {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.sudah_booking {
    margin-top: 30px;
    height: 50px;
    width: 80px;
    background: #0a5234;
    border-radius: 10px;
}

.keterangan h4 {
    margin-top: 15px;
}

.keterangan h4.dif {
    margin-top: 45px;
}

.belum_booking {
    height: 50px;
    width: 80px;
    background: #c9eadd;
    border-radius: 10px;
}

@keyframes animate {
    100% {
        opacity: 1;
    }
}

header h2 {
    font-family: Helvetica;
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px
}

@media (max-width :800px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }

    header nav li {
        margin: 0 7px;
    }
}

.banner-area {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}



.banner-area .img-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/img/profilebg.jpg);
    background-position: center center;
}

.banner-area h1 {
    margin-bottom: 15px;
    font-size: 60px;
}

.banner-area h3 {
    margin-bottom: 40px;
    font-size: 25px;
}

.banner-text {
    opacity: 0;
    margin-top: 100px;
    animation: 1s anime-two 1s forwards;
}

.banner-area a.btn {
    padding: 20px 45px;
}

@keyframes anime-two {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width:800px) {
    .banner-area {
        min-height: 600px;
    }

    .banner-area h1 {
        font-size: 28px;
    }

    .banner-area h1 {
        font-size: 24px;
    }

    .banner-area a.btn {
        padding: 15px 40px;
    }

    .banner-text {
        padding-top: 15%;
    }
}

.services-area {
    background-color: #ddd
}

.services-area .content-area .single-service {
    height: 300px;
    padding: 20px;
    flex-basis: 30%;
    text-align: center;
}

.single-service h2 {
    margin-bottom: 15px;
}

.icon-area {
    width: 80px;
    height: 80px;
    display: inline-block;
    background: rgb(41, 173, 118);
    border-radius: 50%;
    margin-bottom: 20px;
}

.icon-area i {
    color: #fff;
    padding: 25px;
    font-size: 30px;
}

@media (max-width:1000px) {
    .services-area .content-area .single-service {
        flex-basis: 30%;
    }
}

@media (max-width:800px) {
    .services-area .content-area .single-service {
        flex-basis: 100%;
    }

    .single-service {
        margin-bottom: 30px;
    }
}

.work-area .content-area li {
    padding: 5px;
    flex-basis: 50%;
    text-align: center;
}

.work-area img {
    width: 100%;
}

@media (max-width: 800px) {
    .work-area .content-area li {
        flex-basis: 100%;
        padding: 20px;
    }
}


.field-name,
.field-email,
.field-password,
.field-finish {
    position: absolute;
    color: black;

    transform: translate(-50%, -50%);
    background: rgb(232, 240, 254);
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.field-name i,
.field-email i,
.field-password i,
.field-finish i {
    padding: 10px;
    cursor: pointer;
}

.field-name input,
.field-email input,
.field-password input {
    background: none;
    border: none;
    flex: 1;
    height: 100%;
    outline: none;
    color: black;
    font-size: medium;
}

div.innactive {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 50%);
}

div.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
}

@media (max-width:800px) {

    .field-name,
    .field-email,
    .field-password,
    .field-finish {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

@keyframes shake {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(10deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}



.contact .content-area .single-contact {
    height: 300px;
    padding: 20px;
    flex-basis: 50%;
    text-align: center;
}

.single-contact i {
    font-size: 33px;
}

.single-contact input {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.single-contact input[type=submit] {
    background: rgb(41, 173, 118);
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width:800px) {
    .contact .content-area .single-contact {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #262626;
    color: #fff;
    padding: 20px 0;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
}

#list {
    background-color: white;
}

#maps {
    background-color: rgb(221, 221, 221);
}

#stat .content-box .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10%;
    padding-top: 20%;
}

.stat i {
    font-size: 50px;
}

.col-md-3 {
    padding-left: 3%;
    padding-right: 3%;
}

.stat-items h2 {
    font-weight: bold;
    font-size: 42px;
    color: rgb(41, 173, 118);
}

.stat p {
    font-weight: bold;
    letter-spacing: 1px;
}

.newsletter {
    background: rgb(41, 173, 118);
}

.single-newsletter {
    padding-top: 4%;
}
